@import '/site_resources/css/vars.css';

#pageFooter {
    background:rgb(44, 44, 44);
    height:fit-content;
    display: flex;
    width:99%;
    padding: 20px 0;
    position: absolute;
    bottom: 10px!important;
    border-radius: 15px;
    transition:all;
    transition-duration:1s;
}

footerLeft {
    position:relative;
    margin-left: 15px;
    display: inline-flex;
    /* font-size: 1rem; */
    color: white;
    /* font: 1rem Monaco */
    font: var(--main_font);
}

footerRight {
    position:relative;
    /* margin-left: auto;  */
    margin-right: 15px;
    display: inline-flex;
    /* font-size: 1rem; */
    color: white;
    /* font: 1rem Monaco */
    font: var(--main_font);
}
ah {color:beige;text-decoration:none;cursor:pointer}
ah:hover {color:coral;text-decoration:underline;cursor:pointer}
ah:visited:hover {color:coral;text-decoration:underline;cursor:pointer}
ah:visited {color:beige;text-decoration:none}

@media screen and (max-width: 850px) {
    footerRight {display:none;}
    .hideOnMobile {display:none;padding:none;margin:none;width:0px}

    footerLeft {width: 100%!important;padding:none;}

    #pageFooter {
        background:rgb(44, 44, 44);
        height:fit-content;
        display: flex;
        width:auto;
        top:55.5rem;
        padding: 20px 1em;
        padding-right:1.4em;
        place-content: center;
        bottom: 10px!important;
    }
}
