#pageFooter {
    background:rgb(44, 44, 44);
    height:fit-content;
    /* padding-bottom: 10px; */
    display: flex;
    /* position:fixed; */
    width:99%;
    top:55.5rem;
    padding: 20px 0;
}

footerLeft {
    position:relative;
    margin-left: 15px;
    display: inline-flex;
    /* font-size: 1rem; */
    color: white;
    font: 0.8rem Monaco
}

footerRight {
    position:relative;
    /* margin-left: auto;  */
    margin-right: 15px;
    display: inline-flex;
    /* font-size: 1rem; */
    color: white;
    font: 0.8rem Monaco
}
ah {color:beige;text-decoration:none;cursor:pointer}
ah:hover {color:coral;text-decoration:underline;cursor:pointer}
ah:visited:hover {color:coral;text-decoration:underline;cursor:pointer}
ah:visited {color:beige;text-decoration:none}

@media screen and (max-width: 700px) {
    /* footerLeft {display:none;} */
    .hideOnMobile {display:none}
    
    footerRight {
        position:relative;
        margin-left: 15px; 
        /* margin-right: 15px; */
        display: inline-flex;
        /* font-size: 1rem; */
        color: white;
        font: 0.8rem Monaco
    }

    #pageFooter {
        background:rgb(44, 44, 44);
        height:fit-content;
        /* padding-bottom: 10px; */
        display: flex;
        /* position:fixed; */
        width:99%;
        top:55.5rem;
        padding: 20px 0;
        place-content: center;
    }
}