#pageFooter {
    background:rgb(44, 44, 44);
    height:fit-content;
    /* padding-bottom: 10px; */
    display: flex;
    /* position:fixed; */
    width:99%;
/*     top:55.5rem; */
    padding: 20px 0;
    position: absolute;
    bottom: 5px;
    border-radius: 15px;
    transition:all;
    transition-duration:1s;
}

footerLeft {
    position:relative;
    margin-left: 15px;
    display: inline-flex;
    /* font-size: 1rem; */
    color: white;
    font: 1rem Monaco
}

footerRight {
    position:relative;
    /* margin-left: auto;  */
    margin-right: 15px;
    display: inline-flex;
    /* font-size: 1rem; */
    color: white;
    font: 1rem Monaco
}
ah {color:beige;text-decoration:none;cursor:pointer}
ah:hover {color:coral;text-decoration:underline;cursor:pointer}
ah:visited:hover {color:coral;text-decoration:underline;cursor:pointer}
ah:visited {color:beige;text-decoration:none}

@media screen and (max-width: 700px) {
    footerRight {display:none;}
    .hideOnMobile {display:none;padding:none;margin:none;width:0px}

    footerLeft {width: 100%!important;padding:none;}

    #pageFooter {
        background:rgb(44, 44, 44);
        height:fit-content;
        /* padding-bottom: 10px; */
        display: flex;
        /* position:fixed; */
        width:auto;
        top:55.5rem;
        padding: 20px 1em;
        padding-right:1.4em;
        place-content: center;
    }
}
