#pageHeader {
    background:rgb(44, 44, 44);
    height:fit-content;
    /* padding-bottom: 10px; */
    display: flex;
    width:99%;
    padding: 20px 0;
    border-radius: 15px;
    transition:all;
    transition-duration:1s;
}

headerLeft {
    position:relative;
    left: 15px;
    display: inline-flex;
    /* font-size: 1rem; */
    color: white;
    font: 1rem "Monaco";
}

headerRight {
    position:relative;
    /* margin-left: auto;  */
    margin-right: 15px;
    display: inline-flex;
    /* font-size: 1rem; */
    color: white;
    font: 1rem "Monaco";
}
ah {color:beige;text-decoration:none;cursor:pointer}
ah:hover {color:coral;text-decoration:underline;cursor:pointer}
ah:visited:hover {color:coral;text-decoration:underline;cursor:pointer}
ah:visited {color:beige;text-decoration:none}

@media screen and (max-width: 850px) {
    headerLeft {filter:opacity(0);transition:all;transition-duration:1s;display:none}
    .hideOnMobile {width:0px;transition:all;transition-duration:1s}

    headerRight {
        position:relative;
        /* margin-left: auto;  */
        margin-left: 15px;
        display: flex;
        /* font-size: 1rem; */
        color: white;
        font: 1rem "Monaco";
    }

    #pageHeader {
        background:rgb(44, 44, 44);
        place-content: center;
        height:fit-content;
        display: flex;
        width:auto;
        min-width: 10px;
        padding: 20px 150px;
        transition:all;
        transition-duration:1s;
    }
}