/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import '/site_resources/css/vars.css';

/* Animations */

@keyframes tallMargin {
  0% {
    margin: 1rem;
  }
  100% {
    margin: 3rem;
  }
}

/* Styles */

section {
  padding: 1rem 1rem;
  text-align: center;
  color: gray;
  /* font: system-ui; */
  font: var(--main_font);
  min-width: 50%;
  max-width: 600px;
  margin: 0 auto;
  margin-top:2%;
  background: rgba(255, 255, 255, 0.025);
  position: relative;
  border-radius: 15px;
}

p {
  color: azure;
  font: var(--main_font);
}

section:has(img) {
  padding: 0;
  display: grid;
  place-items: center;
}
section:has(img)::after {
  content: "Images need a container div";
  position: absolute;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: lightgray;
}

code {
  padding: 0.2rem;
  background: #333;
  border-radius: 4px;
}

button {
  padding: 1.5rem 2.5rem;
  border: 0;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  /* font: 1.3rem "Monaco"; */
  font: var(--main_font);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  transition: all;
  transition-duration: 0.5s;
}

button:hover {
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.13);
  border-radius: 5px;
  transition: all;
  transition-duration: 0.5s;
  cursor: pointer !important;
}

img {
  width: 100%;
}

h1 {
  font-size: 2rem;
  width: fit-content;
  margin: 0 auto;
  /* padding: 1rem 2rem; */
  color: white;
}
h2 {
  font-size: 1.6rem;
  width: fit-content;
  margin: 0 auto;
  /* padding: 1rem 2rem; */
  color: white;
}

/* resets and basic page styling*/
body {
  padding-top: 10px;
  margin: 0;
  /* padding: 0; */
  background: #222;
  /* min-height: 0vh; */
  display: grid;
  place-items: center;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
:root {
  scrollbar-width: none;
}

ol {
  align-self: center;
}

/* Spacers */
small-space {
  padding: 3px;
}
med-space {
  padding-left: 10px;
  padding-right: 10px;
}
large-space {
  padding-left: 25px;
  padding-right: 25px;
}
vert-space {
  display: block;
  padding: 15px;
  margin: 30px;
}
small-vert-space {
  display: block;
  padding: 2px;
  margin: 5px;
}
vsp {
  display: block;
  padding: 2px;
  margin: 5px;
}

/* Links */
a {
  color: beige;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: thistle;
  text-decoration: underline;
  cursor: pointer;
}
a:visited:hover {
  color: thistle;
  text-decoration: underline;
  cursor: pointer;
}
a:visited {
  color: beige;
  text-decoration: none;
}

.depricated {
  color: rgb(142, 189, 61);
  text-decoration: none;
  cursor: pointer;
}
.depricated:hover {
  color: rgb(162, 202, 93);
  text-decoration: underline;
  cursor: pointer;
}
a:visited:hover {
  color: rgb(162, 202, 93);
  text-decoration: underline;
  cursor: pointer;
}
.depricated:visited {
  color: rgb(142, 189, 61);
  text-decoration: none;
  cursor: pointer;
}

#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}

.hideOnMobile {
  /* Utility func */
}

p {
  text-align: center;
}

.alwaysHide {
  display: none;
}

/* Page alignment options */
.sideAlignmentContainer {
  /* Alignment class to contain .leftAlignmentCategoryBox and .rightAlignCategoryBox */
  display: flex;
  width: 100%;
}

.leftAlignCategoryBox {
  /* This is to split the site into HALF, partnered by .rightAlignCategoryBox */
  width: 46%;
  height: fit-content; /* Can be overridden for other use cases. use <div class="leftAlignContent", style="height:<height>px!important>Content here</div> to override */
  display: grid;
  place-self: center top !important;
  place-items: self-start normal;
  background: rgb(46, 46, 46);
  margin-left: 3%;
  margin-right: 0px;
  border: rgb(102, 102, 102) 1px solid;
  border-radius: 5px;
}

.rightAlignCategoryBox {
  /* This is to split the site into HALF, partnered by .leftAlignCategoryBox */
  width: 45%;
  height: fit-content; /* Can be overridden for other use cases. use <div class="leftAlignContent", style="height:<height>px!important>Content here</div> to override */
  display: grid;
  place-self: center !important;
  place-items: self-start normal;
  background: rgb(46, 46, 46);
  margin-right: 3%;
  margin-left: 3%;
  border: rgb(102, 102, 102) 1px solid;
  border-radius: 5px;
}

/* List styles */
.projectName {
  size: 1.3rem;
  color: aquamarine;
}

/* Header styles */
.job {
  color: deepskyblue;
}
